.field_with_errors{
  display: inline-block;
  border: 1px solid #f00;
}

label{
      margin-right: 20px;
      float: left;
    }
label span{
      line-height: 22px;
      padding-right: 2px;
      float: left;
    }
label div{
      height: 24px;
    }
textarea{
      height: 22px;
    }